
<!--------------------------------------
NAVBAR
--------------------------------------->
<nav class="topnav navbar navbar-expand-lg navbar-light bg-light fixed-top">
<div class="container-fluid">
  <a class="navbar-brand" href="{% url 'blogsite:news' %}"><strong>KrishiNews</strong></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarColor02" style="">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'blogsite:news' %}">News <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="./article.html">Articles</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="./article.html">About</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="./article.html">Contact</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="./article.html">Profile</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="./docs.html">Template <span class="badge badge-secondary">docs</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      {% if not request.user.is_authenticated %}
      <li class="nav-item highlight">
      <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
      </li>
      {% else %}
      <li class="nav-item highlight">
      <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<hr>
</nav>
<!-- End Navbar -->