{% extends "base.html" %}
{% load static %}


{% block content %}

<h1>Welcome to login page</h1>

{% if next %}
<form action="{% url 'accounts:login' %}?next={{next}}" method="POST">
{% else %}
<form action="{% url 'accounts:login' %}" method="POST">
{% endif %}
    {% csrf_token %}
    <div class="login">
        {{form.username.label}}
        {{form.username}}
    </div>
    <div class="login">
        {{form.password.label}}
        {{form.password}}
    </div>
    <div class="messages">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    <div>
        <input type="submit" name="Login">
    </div>
    <div>Doesn't have a account? <a href="{% url 'accounts:register' %}">Register</a></div>
</form>
{% endblock %}

